body {
    background-color: #1F2833;
    overflow-y:hidden;
    margin: 0;
}

h1 {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
    text-align: center;
}

img {
    max-width: 75%;
    max-height: 75%;
}

body {
    max-height: 70%;
}

footer {
    margin-top: auto;
}

.App {
    height: 100vh;
    display: flex;
}

.Page {
    flex-grow: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0% 20% 0%;
    max-height: 90%;
}

#intro_text {
    padding: 10% 0% 10%;
}

