body {
    background-color: #1F2833;
    margin: 0;
}

h1 {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
    text-align: center;
}

.App {
    height: 100vh;
    display: flex;
}

.Page {
    flex-grow: 1;
    align-items: center;
    
    display: flex;
    flex-direction: column;
    padding: 0% 20% 0%;
}